.users_list_ui {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    min-width: 300px;
}

@media (min-width: 960px) {
    div[class*="MuiSnackbarContent-root"] {
        min-width: auto !important;
    }
}